<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Event Details</title>
  
  
  
      <link rel="stylesheet" href="css/style_details.css">

  
</head>

<body>

  <main class="wrapper">
  <section class="section parallax bg1">
		<div class="left">
			<h1 class="name">Seven's Football</h1>
			<p class="detail month">MAR 10 | 10AM to 10:30AM</p>
		</div>
		<div class="right">
			<h3 class="detail price">&#8377; 300</h3>
			<button class="button col-sm-4" ><span>Book slot </span></button>
		</div>
  </section>
  <section class="section static">
    <h1>Boring</h1><!--
    -->

    <p class="rules">All of our football and badminton sessions in Sports hub are conducted at two conveniently located facilities which promises premium quality, top notch guidance from expert coaches and an unbelievable gaming escapade with amazing people that you get to meet regularly. </p>
		
		<div class="gallery cf">
      <div>
        <img src="http://abload.de/img/a6aawu.jpg" />
      </div>
      <div>
        <img src="http://abload.de/img/a6aawu.jpg" />
      </div>
      <div>
        <img src="http://abload.de/img/a6aawu.jpg" />
      </div>
    </div>
  </section>
</main>
  
  

</body>

</html>
