{%load staticfiles%}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Stadium</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="{% static 'css/style_stadium.css' %}">


</head>

<body>

  <header class="bg-image">
  <div class="container">
    <h1>Sports Hub</h1>
    <h2>Sports for All and Sports for Excellence</h2>
    <a href="https://goo.gl/maps/W6uUNAbqGtq" target="_blank" class="btn btn-transparent">Location</a>
  </div>
</header>

<section class="">
  <div class="container">
    <div class="col-3 text--center">
      <img src="logo.png" alt="" class="details-img--ball"/>
    </div>
    <div class="col-7 details">
      <h3>Sports Hub</h3>
      <p>The Sports Hub, Trivandrum is the new benchmark in the landscape of sports infrastructure in India. Built over 37 acres, it is a completely integrated sports and leisure complex, the first of its kind in India. Ambitiously envisioned, meticulously planned and executed, it is all set to become a landmark on the world sports map. A true marriage of form and function, it is designed and planned to not just become the first choice for hosting national and international sporting & entertainment events, but also an active hot-spot for the city of Trivandrum. With numerous avenues for entertainment and social engagement for the entire family, including an international standard clubhouse and a vibrant retail enclave, it will be an active social destination for all 365 days of the year. It is a glorious tribute to the sporting excellence and rich cultural history of Kerala.

It is here that truly Life will meet Action…. every day.

The centerpiece and pride of the entire complex is the ICC and FIFA compliant cricket and football stadium. It has been designed to provide an international quality experience to the hosts, the performers as well as the viewers. The Stadium at the Sports Hub is designed in accordance with the “Guide to Safety at Sports Grounds

It meets every safety, fire, access and comfort norm as stipulated by international bodies, yet providing a fantastic and uninterrupted view to the spectators. Thus, it is a perfect setting to host any sports or entertainment event.</p>
    </div>
  </div>
</section>

<section class="section--primary">
  <div class="container">
    <div class="col-3 features">
      <i class="fa fa-bolt"></i>
      <p>
        To provide high quality Academy Facilities supported by grass roots and community programs on a sustainable basis and be a center
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-bank"></i>
      <p>
        To provide high quality convention, exhibition and club facilities to the people and corporate community in Kerala and India
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-heart"></i>
      <p>
        To be a 365 day social destination for the sports loving populace of Trivandrum and the region by providing quality sports, social and entertainment options
      </p>
    </div>
  </div>
</section>



<section class="section--primary--alt bg-image bg-image-2">
  <div class="container text--center">
    <h3>Sports</h3>
    <div class="col-5 text--left">
      <ul>
        <li>Football</li>
        <li>Basketball</li>
        <li>Cricket</li>
        <li>Jogging</li>
        <li>Ruby</li>
      </ul>
    </div>
    <div class="col-5 text--left">
      <ul>
        <li>Badminton</li>
        <li>Tennis</li>
        <li>Table Tennis</li>
        <li>Polo</li>
        <li>Soft ball</li>
      </ul>
    </div>
  </div>
</section>

<section class="text--center">
  <div class="container">
    <h3>Ready to play?</h3>
    <a href="localhost:8000/details/" class="btn">Order yours now!</a>
  </div>
</section>

<footer>
  <div class="container">
    <ul>
      <li><a href="#">Social</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
    <p>&copy; 2014 dat Company. All rights reserved.</p>
  </div>
</footer>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



</body>

</html>
